/**************************/
/*FONT-SIZE*/
/**************************/

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,700;1,400&display=swap");

/**************************/
/*GENERAL*/
/**************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
}

h2 {
    color: #245086;
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 5rem;
}

.h2-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/**************************/
/*HEADER*/
/**************************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003473;
    padding: 0 4.8rem;
    height: 12rem;
    color: #fff;
}

.sticky {
    left: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003473;

    height: 12rem;
    color: #fff;
}

.video {
    display: block;
    max-width: 100%;
    height: auto;
}

/**************************/
/*NAVIGATION*/
/**************************/
nav a {
    z-index: 10000;
    margin: 0 2rem;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
}

nav a:hover {
    color: #ef7a53;
}

header .nav-btn {
    padding: 0.2rem;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

video {
    z-index: 1;
    width: 100%;
}

.logo {
    margin-left: 12rem;
    z-index: 999;
}

.events {
    display: block;
    height: 80vh;
    width: 100%;
    background-color: #fff;
}

.container--4-cols {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container--4-cols img {
    margin-bottom: 5rem;
    border-radius: 36px;
}

/****************************** CTA ***********************/
.icon-container {
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cta {
    cursor: pointer;
    width: 20rem;
    height: 4rem;
    background-color: #ef7a53;
    border-radius: 26px;
    border: 0;
    margin-bottom: 2rem;
    text-align: center;
    padding: 1rem;
}

.p-events {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 10rem;
}

@media only screen and (min-width: 768px) {
    /* Carga el video para desktop */
    .video {
        width: 100%;
        height: 480px; /* Ajusta la altura según tus necesidades */
        background-image: url("../img/video/Final.mp4"); /* Agrega una imagen de poster */
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .video source {
        /* Agrega la ruta del video para desktop */
        src: url("../img/video/Final.mp4");
    }
}

@media only screen and (max-width: 767px) {
    h2 {
        padding: 1rem 30%;
        margin-top: 2rem;
    }

    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #003473;
        transition: 1s;
        transform: translateY(-100vh);
    }

    header .responsive_nav {
        transform: none;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a {
        font-size: 1.5rem;
    }

    .logo {
        margin-left: 2rem;
        z-index: 999;
    }

    .container--4-cols {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .container--4-cols img {
        margin-bottom: 1px;
        border-radius: 36px;
    }

    /* Carga el video para mobile */
    .video {
        width: 100%;
        height: 100%; /* Ajusta la altura según tus necesidades */
        background-image: url("../img/video/Final2.mp4"); /* Agrega una imagen de poster */
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .video source {
        /* Agrega la ruta del video para mobile */
        src: url("../img/video/Final2.mp4");
    }
}
